.customButton {
    width: 95px;
    height: 40px;
    background-color: #fbfbfb;
    color: rgb(14, 14, 14);
    font-size: 13px;
    border: 1.3px solid #141414;
    border-radius: 3px;
    cursor: pointer;
}

.active{
    background-color: #3BBD99;
    border: none;
    color: white;
}

.customButton:disabled{
    background: #efefef;
    color: black;
}