.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* padding: 0 70px; */
  width: 100%;
}

.left > a {
  text-decoration: none;
}

.left > a > h1 {
  font-size: 1.2rem;
  font-family: "Mulish";
  font-weight: 800;
  color: #151515;
}

.btn-1 {
  position: absolute;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  right: 5px;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

.btn-1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.btn-1:hover,
.btn-1:focus,
.btn-1:active {
  color: white;
}

.btn-1:hover:before,
.btn-1:focus:before,
.btn-1:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.right {
  gap: 20px;
  display: flex;
  align-items: center;
}

.menu {
  align-items: center;
  display: flex;
}

.navLink {
  display: flex;
  gap: 20px;
}

.navLink > a {
  font-family: "Mulish";
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #151515;
}

.navLink > a:hover {
  border-bottom: 3px solid #151515;
}

.menuResponsive {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .left > a > h1 {
    color: white;
  }

  .navLink > a {
    color: white !important;
  }
  .navLink > a:hover {
    border-bottom: 3px solid white;
  }
}

@media (min-width: 481px) and (max-width: 920px) {
  .navbar {
    width: 80vw;
  }
}
@media (max-width: 500px) {
  .navbar {
    width: 95vw;
    transition: 0.5s ease-in-out;
  }

  .navbarExpanded {
    width: 95vw;
    display: flex;
    justify-content: space-between;
  }

  /* .navbarExpanded > .right > .menu{
    display: flex;
    flex-direction: column;
  } */
  .navbarExpanded > .right > .menu > .navLink {
    position: absolute;
    top: 55px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: -38px;
    background: #000;
  }

  .navbarExpanded > .right > .menu > .navLink > a {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    border-bottom: 1px solid #fff;
  }

  .left {
    width: 30%;
    padding-left: 20px;
  }

  .navLink {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .menuResponsive {
    display: block;
  }
}
