@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');


.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSection{
  background-color: white;
  width: 70%;
  padding: 0px 70px 0px 70px;
  height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroSection{
  position: relative;
  padding-bottom: 150px;
  margin-top: -15px;
}

.header{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header > h5{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.04em;
  color: #555555;
  margin-bottom: 7px;
}

.header > h2{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.04em;
  color: #1A1A1A;
  margin-top: 0px;
  margin-bottom: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap:10px;
  grid-row-gap:10px;
}

.div1{
  grid-area: 1 / 1 / 1 / 1;
  background: #5BC2EF;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 131px; */
  /* height: 120px; */
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6{
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
  transition-property: transform;
  transition-duration: 0.3s;
}

.div1:hover, .div1:focus, .div1:active,
.div2:hover, .div2:focus, .div2:active, 
.div3:hover, .div3:focus, .div3:active, 
.div4:hover, .div4:focus, .div4:active, 
.div5:hover, .div5:focus, .div5:active, 
.div6:hover, .div1:focus, .div1:active {
  transform: scale(0.95);
}

.div1 > h3{
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
  padding-top: 20px;
}

.div2{
  grid-area: 1 / 2 / 2 / 3;
  background: #F97465;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 163px; */
  /* height: 120px; */
}

.div2 > h3{
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
}

.div3{
  grid-area: 1 / 3 / 3 / 4;
  background: #5DB8AF;
  border-radius: 10px;
  width: 278px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}

.div3 > h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
  text-align: center;
  padding-top: 20px;
}

.div4{
  grid-area: 1 / 4 / 2 / 5;
  background: #3B8EEE;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div4 > h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
  text-align: center;
}

.div1 > img,
.div2 > img,
.div3 > img,
.div4 > img,
.div5 > img,
.div6 > img {
  position: absolute;
}

.div5{
  grid-area: 2 / 1 / 3 / 3;
  background: #96D1D7;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  /* width: 306px; */
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div5 > h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
  text-align: center;
  width: 70%;
}

.div6{
  grid-area: 2 / 4 / 3 / 5;
  background: #3BBD99;
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  /* width: 167px;
  height: 126px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div6 > h3{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Mulish' serif;
  text-align: center;
  padding-top: 10px;
}

.rightSection{
  background-color: #FAFAFA;
  width: 30%;
  /* height: 100vh; */
  border-radius: 20px;
  position: relative;
}

.rightContainer{
  padding: 50px 40px;
  height: 125vh;
}

.title > h5{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: -0.04em;
  color: #1A1A1A;
  margin: 0px;
  padding: 20px 0px;
}

.title > p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #414141;
  margin: 0px;
  padding:0px 0px 50px 0px;
}

.grps{
  display: flex;
  align-items: center;
  gap: 8px;
}

.grp-1,
.grp-3{
  width: 371px;
  height: 153px;
  background-color:#1A1A1A;
  border-radius: 8px;
}

.grp-1 > h3,
.grp-2 > h3,
.grp-3 > h3 {
  width: 65%;
  margin: auto;
  color: white;
  font-family: 'Mulish';
  font-size: 12px;
  padding: 20px 15px;
  text-align: center;
}

.grp-2{
  width: 371px;
  height: 153px;
  background-color: #3B8EEE;
  border-radius: 8px;
}


.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.socialMedia > a,
.privacy > a{
  font-family: 'Mulish';
  text-decoration: none;
  font-weight: 600;
  color: #1A1A1A;
  font-size: 15px;
  font-weight: 600;
}

.separator{
  padding: 0px 10px;
}


